/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/public/storage
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea