/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
/_ide_helper.php
/.phpstorm.meta.php
/public/css
/public/js
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
Homestead.yaml
Homestead.json
.env
/.idea