@mixin borderRadius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
    @include transform(scale($scale));
} 
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin bp-xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin bp-sm {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin bp-md {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin bp-lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin custom-calc-grid-column($index, $class, $index-label) {
    @if ($index >= 0) {
        @if ($class == "xs"){
            @include custom-calc-grid-column-rules($index, $class, $index-label)
        }
        @if ($class == "sm"){
            @include bp-sm{
                @include custom-calc-grid-column-rules($index, $class, $index-label)
            }
        }
        @if ($class == "md"){
            @include bp-md{
                @include custom-calc-grid-column-rules($index, $class, $index-label)
            }
        }
        @if ($class == "md"){
            @include bp-md{
                @include custom-calc-grid-column-rules($index, $class, $index-label)
            }
        }
    }
}

@mixin custom-calc-grid-column-rules($index, $class, $index-label) {
    @if ($index >= 0) {
        .col-#{$class}-#{$index-label} {
            float: left;
            width: percentage(($index / $grid-columns));
        }
        .col-#{$class}-offset-#{$index-label} {
            margin-left: percentage(($index / $grid-columns));
        }
    }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin text-overflow() {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}