// Variables
@import "_variables";
@import "_mixins";

html{
    &, body{
        background-color: $body-bg-admin;
        color: $main-text-color-admin;
        height: 100%;
    }
    body{
        padding-top: 50px;
    }
}


#sidebar-left{
    background-color: $sidebar-left-bg-admin;
    color: white;
}

#navbar {
    height: 50px;
    > .container-fluid{
        height: 100%;
        padding: 0px;
        .navbar-collapse{
            height: 100% !important;
            .navbar-brand{
                padding: 8px;
                width: 150px;
                @media (min-width: 992px){
                    position: absolute;
                    left: 50%;
                    margin-left: -75px;
                }
            }
            .navbar-right{
                height: 100%;
                padding-right: $navbarInnerPadding;
                > li{
                    height: 100%;
                    > a{
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
                .glyphicon{
                    color: white;
                    font-size: 1.4em;
                }
                img{
                    width: 30px;
                    vertical-align: initial;
                }
                .badge{
                    color: white;
                    padding: 3px 5px 3px 4px;
                    font-size: 0.8em;
                    @include borderRadius(100%);
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                #eventButton{
                    .badge{
                        background: orchid;
                    }
                }
                #promotionButton{
                    .badge{
                        background: #fca600;
                    }
                }
            }
        }
    }
}

.booking-tile-calendar{
    .booking-calendar{
        .fc-toolbar{
            background-color: $booking-color;
        }
        .fc-view{
            &.fc-agendaDay-view{
                > table{
                    width: 100.3%;
                }
                .fc-head-container{
                    background-color: #555;
                    color: $main-text-color;
                    border-color: #555;
                    .fc-row{
                        border: 0px;
                        th{
                            border: 0px;
                        }
                        .fc-day-header{
                            span{
                                line-height: 35px;
                                margin-left: -30px;
                            }
                        }
                    }
                }
            }
            &.fc-month-view{
                .fc-day-header{
                    padding: 0px !important;
                    word-break: break-word;
                }
            }
        }
        .fc-slats{
            tbody td{
                background-color: white;
            }
        }
        .fc-event.fc-event{
            color: white;
            right: auto !important;
            @include borderRadius(5px);
            font-size: 1em;
            padding: 3px 7px;
            cursor: pointer;
            .fc-title{
                font-size: 1em;
                .glyphicon{
                    margin-left: 3px;
                    font-size: 0.85em;
                }
            }
        }
    }
}

#media-moderation{
    .kv-file-remove, .file-drag-handle{
        display: none;
    }
}