
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,400i,700,700i,900,900i');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_mixins";

$classes: (xs, sm, md, lg);
@each $class in $classes{
    @for $i from 0 through $grid-columns {
        @include custom-calc-grid-column($i, $class, $i)
        @include custom-calc-grid-column(($i + 0.5), $class, $i + '_5')
    }
}

.clickable{
    cursor: pointer;
    @at-root tr#{&}{
        > td{
            cursor: pointer;
        }
    }
}



a.simple{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

a.simple span{
    font-weight: normal !important;
}

a.link-disabled{
    cursor: default;
}
.cleaner{
    clear: both;
}

.no-gutter{
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin{
    margin: 0px;
}

.div-table{
    display: table;
    width: 100%;
    > .div-cell{
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
    &:after{
        clear: both;
    }
}

.square-container{
    display: inline-block;
    vertical-align: top;
    .crop{
        height: 100%;
        overflow: hidden;
        position: relative;
        > img:not(.square-pattern) {
            display: block;
            min-width: 100%;
            min-height: 100%;
            margin: auto;
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
        }
    }
}

#ajax-modal-sample{
    display: none;
}
.ajax-modal{
    .modal-body{
        padding: 20px;
        .row{
            margin: 0px;
        }
    }
    .loading-bar{
        margin: 20px auto;
        .progress-bar{
            width: 100%;
        }
    }
    .modal-footer{
        display: none;
    }
}

.gallery-box{
    .gallery-box-item{
        margin-bottom: 30px;
        background-size: cover;
        img.square-pattern{
            width: 100%;
            @include opacity(0);
        }
    }
}

.datatable-container{
    .datatable-filters{
        label{
            padding-right: 5px;
        }
        .form-group{
            padding-right: 10px;
        }
    }
    .datatable{
        .glyphicon{
            &.clickable{
                color: #3097D1;
            }
        }
    }
    .datatable-container-footer{
        .pagination{
            float: right;
        }
    }
}

.select2.select2{
    .select2-selection{
        @include borderRadius(0px);
        height: 34px;
        padding: 3px 5px;
    }
}

.app-disabled{
    @include opacity(0.4);
    cursor: default;
    > a{
        cursor: default;
    }
}

#login-dropdown, #login-panel{
    &.login{
        width: 300px;
    }
    &.logout{
        width: 230px;
        @include borderRadius(0px);
        ul.logout-section{
            list-style: none;
            padding-left: 0;
            margin-left: -15px;
            margin-right: -15px;
            li{
                line-height: 40px;
                .section-item{
                    font-size: 1.3em;
                }
                .glyphicon{
                    margin-right: 0.5em;
                }
                a{
                    width: 100%;
                    display: inline-block;
                    padding: 0px 15px;
                    color: $main-text-color;
                    vertical-align: middle;
                    &:hover, &:focus{
                        color: $main-text-color;
                        text-decoration: none;
                    }
                    > *{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    background: $main-dark-color;
    color: $main-text-color;
    padding: 0px;
    h3{
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }
    input{
        background-color: white;
        color: $text-color;
    }
    .login-forgot-password{
        float: right;
        color: $main-text-color;
        text-decoration: underline;
        &:hover, &:focus{
            color: $main-text-color;
        }
    }
    .login-resend-activation{
        color: $main-text-color;
        text-decoration: underline;
        &:hover, &:focus{
            color: $main-text-color;
        }
    }
    .login-remember-me label{
        line-height: 16px;
        font-size: 0.9em;
    }
    .login-connection-button{
        width: 80%;
        margin: 0px 10%;
        padding: 0.4em 0px;
        background-color: #aaa;
        border: 0px;
        font-weight: bold;
        font-size: 1.3em;
        @include borderRadius(5px);
        margin-bottom: 1.5em;
    }
    .login-register-section{
        background: $main-color;
        text-align: center;
        .register-item{
            display: inline-block;
            margin: 0.5em;
            width: 110px;
            height: 110px;
            border: 1px solid white;
            text-align: center;
            @include borderRadius(10px);
            text-transform: uppercase;
            color: $main-text-color;
            line-height: 1em;
            font-size: 0.95em;
            position: relative;
            overflow: hidden;
            &:hover, &:focus{
                text-decoration: none;
            }
            &.color-inverted{
                background-color: white;
                color: $main-dark-color;
            }
            img{
                width: 100% !important;
            }
            .corner{
                text-transform: uppercase;
                background-color: $alt-highlight-color;
                @include rotate(45);
                position: absolute;
                top: -5px;
                right: -25px;
                padding: 15px 20px 5px 20px;
                font-size: 1.2em;
            }
        }
    }
    .login-logout{
        width: 80%;
        margin: 0px 10%;
        padding: 0.4em 0px;
        background-color: #aaa;
        border: 0px;
        font-weight: bold;
        font-size: 1.3em;
        @include borderRadius(5px);
        margin-bottom: 1.5em;
        &:hover, &:focus{
            color: $main-text-color;
        }
    }
}

#register-modal{
    $titleWidth: 110px;
    #register-modal-title{
        width: $titleWidth;
        height: $titleWidth;
        background: #222;
        text-transform: uppercase;
        position: absolute;
        margin-left: -($titleWidth/2);
        top: -125px;
        left: 50%;
        z-index: 2;
        text-align: center;
        padding: 5px;
        @include borderRadius(10px);
    }
    .modal-dialog{
        padding: 30px 70px 0px 70px;
        .modal-content{
            background: #444;
            border: 1px solid black;
            color: $main-text-color;
            .modal-header{
                border-bottom: 0px;
                    padding: 20px;
            }
            .modal-body{
                padding: 0px 60px;
                form{
                    margin-top: 20px;
                    .newsletter-subscription{
                        text-align: center;
                        label{
                            line-height: $line-height-base;
                        }
                    }
                    .register-button{
                        margin: 1em auto;
                        padding: 0.4em 2.5em;
                        background-color: #222;
                        border: 0px;
                        font-weight: bold;
                        font-size: 1.3em;
                        @include borderRadius(5px);
                        &:hover, &:focus{
                            color: $main-text-color;
                        }
                    }
                }
            }
            input{
                background: transparent;
                border: 1px solid black;
                color: $main-text-color;
            }
        }
    }
}

#auth-modal{
    .modal-dialog{
        .modal-content{
            background: #444;
            border: 1px solid black;
            color: $main-text-color;
            .modal-body{
                padding: 0px 60px;
                form{
                    margin-top: 20px;
                    .form-data-button{
                        margin: 1em auto;
                        padding: 0.4em 2.5em;
                        background-color: #222;
                        border: 0px;
                        font-weight: bold;
                        font-size: 1.3em;
                        @include borderRadius(5px);
                        &:hover, &:focus{
                            color: $main-text-color;
                        }
                    }
                }
            }
            input{
                background: transparent;
                border: 1px solid black;
                color: $main-text-color;
            }
        }
    }
}

.alert-success {
    background-color: $success-color;
    border-color: $success-color;
    color: #fff;
    font-weight: bold;
}

.alert-danger{
    background-color: $danger-color;
    border-color: $danger-color;
    color: #fff;
    font-weight: bold;
}

.has-error.form-control{
    border-color: $danger-color !important;
}

.form-error-tooltip{
    .tooltip-inner{
        background-color: $danger-color;
        border-color: $danger-color;
        color: #fff;
        font-weight: bold;
    }
    .tooltip-arrow.tooltip-arrow{
        border-top-color: #fff;
    }
}


/***************** Glyphicon spinner *****************************************/
.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

.glyphicon.fast-left-spinner {
    -webkit-animation: glyphicon-spin-l 1s infinite linear;
    animation: glyphicon-spin-l 1s infinite linear;
}

.glyphicon.normal-left-spinner {
    -webkit-animation: glyphicon-spin-l 2s infinite linear;
    animation: glyphicon-spin-l 2s infinite linear;
}

.glyphicon.slow-left-spinner {
    -webkit-animation: glyphicon-spin-l 3s infinite linear;
    animation: glyphicon-spin-l 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
