
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900,900i');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_mixins";

$classes: (xs, sm, md, lg);
@each $class in $classes{
    @for $i from 0 through $grid-columns {
        @include custom-calc-grid-column($i, $class, $i)
        @include custom-calc-grid-column(($i + 0.5), $class, $i + '_5')
    }
}

.clickable{
    cursor: pointer;
    @at-root tr#{&}{
        > td{
            cursor: pointer;
        }
    }
}
a.simple{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}
.cleaner{
    clear: both;
}

.no-gutter{
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin{
    margin: 0px;
}

.div-table{
    display: table;
    width: 100%;
    > .div-cell{
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
    &:after{
        clear: both;
    }
}

.square-container{
    display: inline-block;
    vertical-align: top;
    .crop{
        height: 100%;
        overflow: hidden;
        position: relative;
        > img {
            display: block;
            min-width: 100%;
            min-height: 100%;
            margin: auto;
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
        }
    }
}

#ajax-modal-sample{
    display: none;
}
.ajax-modal{
    .modal-body{
        padding: 20px;
        .row{
            margin: 0px;
        }
    }
    .loading-bar{
        margin: 20px auto;
        .progress-bar{
            width: 100%;
        }
    }
    .modal-footer{
        display: none;
    }
}

.gallery-box{
    .gallery-box-item{
        margin-bottom: 30px;
        background-size: cover;
        img.square-pattern{
            width: 100%;
            @include opacity(0);
        }
    }
}