// Variables
@import "_variables";
@import "_mixins";

#map{
    height: 200px;
}

#ets-heading{
    height: 70px;
    line-height: 70px;
    background: #ccc;
    position: relative;
    #ets-logo{
        width: 120px;
        height: 120px;
        position: absolute;
        bottom: 5px;
        border: 2px solid white;
        + input[type=file]{
            display: none;
        }
    }
    #ets-name{
        margin-left: 137px;
        margin-top: 19px;
        width: calc(100% - 130px);
        background: #aaa;
        color: black;
        font-weight: bold;
        border: 0px;
        outline: none;
    }
}

#foodSpecialties{
    width: 100%;
}

$timetableRowHeight: 76px;
#timetable-grid{
    float: left;
    width: 100%;
    .timetable-grid-row{
        height: $timetableRowHeight;
        > *{
            height: 100%;
            &.timetable-day{
                font-size: 1.4em;
                line-height: $timetableRowHeight;
                text-align: left;
            }
            .timetable-action-nobreak{
                float: right;
                width: 60px;
                margin-left: -60px;
                position: relative;
                z-index: 2;
            }
            &.timetable-action{
                line-height: $timetableRowHeight;
                text-align: center;
            }
            a.close-timeslot{
                color: white;
                text-decoration: underline;
                margin-top: 0.5em;
                display: inline-block;
                &:hover{
                    color: white;
                }
            }
        }
        .timetable-col-am, .timetable-col-pm{
            text-align: center;
            background: $main-color;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }
    }
}
#pro_user_form_accordion{
    .radio-inline:not(:last-child){
        margin-right: 2em;
    }
}
#validToPayment{
    padding: 1em 3.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    @include borderRadius($border-radius-usual);
}

#establishment_form_accordion{
    #ets-photos, #ets-menus{
        .file-input{
            .file-preview{
                border: 0px;
                @include borderRadius(0);
                background-color: darken($main-dark-color, 20);
            }
        }
    }
    #ets-time{
        h6{
            font-size: 1.3em;
        }
    }
    h5{
        font-weight: bold;
        font-size: 1.7em;
        padding: 0.5em 20px;
        border-top: 2px solid lighten($main-dark-color, 35);
        border-bottom: 2px solid lighten($main-dark-color, 35);
        margin-bottom: 1em;
    }
    #ets-menus, #ets-staff{
        .kv-preview-thumb:not(.file-preview-initial){
            display: none;
        }
        .kv-fileinput-caption{
            display: none;
        }
    }
    #ets-avg-prices{
        input[type=text]{
            width: 80px;
            margin: 0px 0.4em;
        }
    }
    #ets-close-periods{
        .form-group > *:not(button){
            line-height: 34px;
        }
        .close-periods-list{
            padding-left: 3em;
            .close-periods-item{
                padding-bottom: 0.8em;
                line-height: 23px;
                .close-periods-remove{
                    float: right;
                    margin-right: 0.5em;
                    border: 2px solid $main-text-color;
                    @include borderRadius(100%);
                    padding: 3px;
                    cursor: pointer;
                }
            }
        }
    }
}