// Variables
@import "_variables";
@import "_mixins";

#map{
    height: 200px;
}

#ets-heading{
    height: 70px;
    line-height: 70px;
    background: #ccc;
    position: relative;
    #ets-logo{
        width: 120px;
        height: 120px;
        position: absolute;
        bottom: 5px;
        border: 2px solid white;
        + input[type=file]{
            display: none;
        }
    }
    #ets-name{
        margin-left: 137px;
        margin-top: 19px;
        width: calc(100% - 130px);
        background: #aaa;
        color: black;
        font-weight: bold;
        border: 0px;
        outline: none;
    }
}

#foodSpecialties{
    width: 100%;
}

$timetableRowHeight: 76px;
#timetable-grid{
    float: left;
    width: 100%;
    .timetable-grid-row{
        height: $timetableRowHeight;
        > *{
            height: 100%;
            &.timetable-day{
                font-size: 1.4em;
                line-height: $timetableRowHeight;
                text-align: left;
            }
            &.timetable-action{
                line-height: $timetableRowHeight;
                text-align: center;
            }
        }
        .timetable-col-am, .timetable-col-pm{
            text-align: center;
            background: $main-color;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }
    }
}
a.close-timeslot{
    color: white;
    text-decoration: underline;
    margin-top: 0.5em;
    &:hover{
        color: white;
    }
}