// Variables
@import "_variables";
@import "_mixins";

html{
    background-color: $body-bg;
}

body{
    padding-top: 50px;
}

#navbar {
    .navbar-brand{
        padding: 8px;
        width: 150px;
    }
    .navbar-right img{
        width: 22px;
    }
    input[type=text]{
        background-color: #5c5c5c;
        border: 0px;
        @include borderRadius(0px);
    }
}

.main {
    padding: 20px;
}

.footer {
    background-color: $main-color;
}