// Variables
@import "_variables";
@import "_mixins";

html{
    background-color: $body-bg;
    color: $main-text-color;
}

body{
    padding-top: 50px;
    color: $main-text-color;
    &:not([data-footer=hidden]){
        margin-bottom: $footerHeight + $prefooterHeight;
    }
    &[data-footer=hidden]{
        margin-bottom: 0px;
    }
    overflow-x: hidden;
}

a.disabled{
    @include opacity(0.5);
    pointer-events: none;
}

.text-highlight{
    color: $highlight-color;
}

.btn{
    &, &.btn-primary, &.btn-default{
        color: $main-text-color;
        border: 1px solid $main-text-color;
        background-color: $body-bg;
        @include borderRadius(0px);
        &:hover, &:focus, &.focus {
            color: $alt-highlight-color;
        }
    }
    
}

/*.has-error {
    .form-control {
        border-color: $inputErrorColor !important;
    }
    .tooltip{
        .tooltip-arrow{
            border-top-color: $inputErrorColor;
        }
        .tooltip-inner{
            color: $inputErrorColor;
        }
    }
}*/

select:not(.select2){
        color: $main-text-color !important;
        border: 1px solid $main-text-color !important;
        @include borderRadius(0px);
        height: 30px;
        padding: 4px 10px;
        background: $body-bg !important;
        &[disabled]{
            @include opacity(0.5);
        }
}
.select2.select2{
    .select2-selection{
        color: $main-text-color !important;
        border: 1px solid $main-text-color !important;
        @include borderRadius(0px);
        background: $body-bg !important;
        height: 34px;
        padding: 3px 5px;
        .select2-selection__rendered{
            color: inherit;
            .select2-selection__choice{
                color: $main-text-color !important;
                background: transparent;
                border: 0px;
                .select2-selection__choice__remove{
                    float: right;
                    color: inherit !important;
                    margin-left: 5px;
                    border: 2px solid $main-text-color !important;
                    @include borderRadius(100%);
                    padding: 0px 4px;
                    font-weight: bold;
                    height: 20px;
                    line-height: 16px;
                    font-size: 17px;
                }
            }
        }
    }
    select.select2.full-width + &{
        width: 100% !important;
    }
}
.select2-container{
    .select2-dropdown{
        color: $main-text-color !important;
        @include borderRadius(0px);
        background: $body-bg !important;
        .select2-search{
            .select2-search__field{
                background-color: $main-color;
            }
        }
        .select2-results__option{
            &[aria-selected='true']{
                background-color: $main-color;
            }
            &.select2-results__option--highlighted{
                background-color: $alt-highlight-color;
            }
        }
    }
}


#navbar {
    height: $navbarHeight;
    > .container-fluid{
        height: 100%;
        padding: 0px;
        .navbar-collapse{
            height: 100% !important;
            .navbar-form{
                margin-left: $navbarInnerPadding;
                padding-left: 0px;
                padding-right: 0px;
                width: $searchFormSmWidth;
                float: right;
                @include bp-md{
                    width: $searchFormMdWidth;
                }
                .locationInputGroup{
                    @include borderRadius(0px);
                    &:nth-of-type(1){
                        width: 59%;
                    }
                    &:nth-of-type(2){
                        width: 40%;
                        float: right;
                    }
                    .input-group-addon{
                        padding: 5px 9px;
                        @include borderRadius(0px);
                        background: white;
                        color: #ccc;
                        border-color: white;
                        .geolocMeIcon{
                            font-size: 1.5em;
                        }
                    }
                    input[type=text]{
                        border: 0px;
                        @include borderRadius(0px);
                        box-shadow: none !important;
                    }
                }
            }
            .navbar-brand{
                padding: 8px;
                width: 150px;
                @media (min-width: 992px){
                    position: absolute;
                    left: 50%;
                    margin-left: -75px;
                }
            }
            .navbar-right{
                height: 100%;
                padding-right: $navbarInnerPadding;
                > li{
                    height: 100%;
                    > a{
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
                .glyphicon{
                    color: white;
                    font-size: 1.4em;
                }
                img{
                    width: 30px;
                    vertical-align: initial;
                }
                .badge{
                    color: white;
                    padding: 3px 5px 3px 4px;
                    font-size: 0.8em;
                    @include borderRadius(100%);
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                #eventButton{
                    .badge{
                        background: orchid;
                    }
                }
                #promotionButton{
                    .badge{
                        background: #fca600;
                    }
                }
            }
        }
    }
}

.main {
    padding: 20px;
}

#home-highlight-sections{
    padding-left: 0px;
    padding-right: 0px;
    .home-highlight-section{
        padding: 0.5em 0px;
        &:nth-of-type(even){
            background: $main-color;
            .home-highlight-header{
                border-bottom: 1px solid #555;
            }
        }
        &:nth-of-type(odd){
            .home-highlight-header{
                border-bottom: 1px solid #333;
            }
        }
        .home-highlight-header{
            padding-bottom: 0.5em;
            margin-bottom: 2em;
            position: relative;
            h2{
                text-align: center;
                color: white;
            }
            .carousel-control-container{
                position: absolute;
                top: 0em;
                right: 10px;
                width: 50px;
                @include opacity(0.5);
            }
        }
    }
}

.pre-footer{
    padding-bottom: 2em;
    @include bp-sm{
        position: absolute;
        bottom: $footerHeight;
        width: 100%;
        height: $prefooterHeight;
    }
    *{
        color: white;
    }
    h2{
        text-transform: uppercase;
        font-size: 1.5em;
    }
    ul{
        list-style: none;
        padding-left: 0px;
        > li{
            margin-bottom: 0.6em;
        }
    }
    a{
        &:hover{
            color: inherit;
        }
    }
    @include bp-sm{
        .container > .col:nth-child(2){
            padding-left: 5em;
        }
        .container > .col:nth-child(3){
            /*padding-top: 2em;*/
        }
    }
    .socialNetworks{
        h2{
            @include bp-sm{
                text-align: center;
            }
        }
        ul{
            @include bp-sm{
                text-align: center;
            }
            margin-top: 1.4em;
            > li{
                width: auto;
                padding: 0px 0.3em;
                display: inline-block;
                img{
                    width: 35px;
                }
            }
        }
    }
}

.footer {
    background-color: $main-color;
    height: $footerHeight;
    padding-top: 0.5em;
    font-size: 0.9em;
    *{
        color: white;
    }
    a{
        text-decoration: underline;
        &:hover{
            color: inherit;
        }
    }
}

.pac-container.pac-logo, .searchKeywordDropdown{
    z-index: 1031 !important;
}
.pac-container.pac-logo{
    background-color: $main-dark-color;
    color: $font-color-dark-bg;
    left: $navbarInnerPadding !important;
    border: 1px solid #c5c5c5;
    .pac-item{
        &:hover, &.pac-item-selected{
            background-color: #666;
            cursor: pointer;
        }
        color: inherit;
        border-top: 0px;
    }
    .pac-item-query{
        color: inherit;
    }
    &:after{
        display: none;
    }
}

.searchKeywordDropdown.ui-autocomplete{
    background-color: $main-dark-color;
    color: $font-color-dark-bg;
    padding: 0.6em 0.4em;
    left: $navbarInnerPadding !important;
    box-sizing: border-box;
    > .ui-menu-item{
        margin: 0.2em 0px;
        &.no-results{
            background-color: transparent !important;
            &:hover, &:focus{
                background-color: transparent !important;
            }
            .ui-state-active{
                background-color: transparent !important;
            }
            cursor: default;
            .ui-menu-item-wrapper{
                line-height: 20px;
            }
        }
        .ui-menu-item-wrapper{
            padding: 0px;
            > a {
                color: inherit;
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 3px 1em 3px .4em;
                &:hover{
                    color: inherit;
                }
            }
        }
        &:not(.ui-autocomplete-category){
            background-color: $main-color;
            line-height: 35px;
            .ui-menu-item-avatar{
                font-size: 0.9em;
                margin-right: 5px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                &, .ui-menu-item-picture{
                    @include borderRadius(100%);
                    width: 35px;
                    height: 35px;
                }
                .ui-menu-item-avatar-text{
                    line-height: 11px;
                    padding-top: 8px;
                    display: inline-block;
                }
            }
            .ui-menu-item-text-right{
                float: right;
            }
            .ui-menu-item-wrapper.ui-state-active{
                background-color: #666;
                border: initial;
                margin: initial;
            }
            &[data-index='3']{
                .ui-menu-item-avatar{
                    font-size: 1em;
                }
            }
        }
    }
    > .ui-autocomplete-category{
        font-weight: bold;
        margin: 0.4em 0px;
        text-transform: uppercase;
        > .category-label{
            font-size: 1.1em;
        }
        > .category-opener{
            float: right;
            @include borderRadius(100%);
            background: $main-color;
            font-size: 1.2em;
            line-height: 1.5em;
            padding: 0em 0.4em 0em 0.4em;
        }
        > .ui-state-active{
            border: initial;
            background: initial;
            font-weight: bold;
            margin: initial;
            &.category-opener{
                background: $main-color;
            }
        }
    }
}

.searchKeywordDropdown.ui-autocomplete, .pac-container.pac-logo{
    width: $searchFormSmWidth !important;
    @include bp-md{
        width: $searchFormMdWidth !important;
    }
}

.ets-thumbnail{
    background: white;
    color: $main-dark-color;
    float: left;
    margin-bottom: 2em;
    @media (max-width: 767px) {
        width: 49%;
        margin-right: 2%;
        &:nth-child(2n){
            margin-right: 0px;
        }
        &:nth-child(2n+1){
            clear: both;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 23.5%;
        margin-right: 2%;
        clear: none;
        &:nth-child(4n){
            margin-right: 0px;
        }
        &:nth-child(4n+1){
            clear: both;
        }
    }
    @media (min-width: 992px){
        width: 15.83%;
        margin-right: 1%;
        clear: none;
        &:nth-child(6n){
            margin-right: 0px;
        }
        &:nth-child(6n+1){
            clear: both;
        }
    }
    > a{
        color: inherit;
        &:hover{
            color: inherit;
        }
        .thumbnail-top{
            position: relative;
            .thumbnail-picture{
                width: 100%;
                img.square-pattern{
                    width: 100%;
                    @include opacity(0);
                }
                .crop{
                    > img{
                        max-height: 100%;
                    }
                }
            }
            .logo-picture{
                background-size: contain;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                img.square-pattern{
                    width: 100%;
                    visibility: hidden;
                }
            }
            .thumbnail-distance{
                background: rgba(0, 0, 0, 0.4); 
                color: white;
                font-weight: bold;
                position: absolute; 
                bottom: 0px; 
                right: 0px;
                padding: 0px 0.5em;
            }
        }
        .thumbnail-text{
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            .thumbnail-label{
                height: 2*$line-height-base-px;
                overflow: hidden;
                font-weight: bold;
            }
            .thumbnail-info{
                font-size: 0.9em;
                height: $line-height-base-px;
                overflow: hidden;
            }
            .thumbnail-location{
                font-size: 0.9em;
                height: $line-height-base-px;
                overflow: hidden;
            }
            .thumbnail-promo{
                font-size: 0.9em;
                height: 2*$line-height-base-px;
                overflow: hidden;
                color: $promo-color;
            }
        }
    }
    &.with-promo{
        .thumbnail-info{
            display: none;
        }
    }
}

#search-results-filters, #filterModal, #checkoutModal{
    background: $main-dark-color;
    border: 1px solid white;
    @include borderRadius(0px);
    .panel-heading{
        height: $searchFilterPanelHeadingHeight;
        padding: 0px;
        line-height: $searchFilterPanelHeadingHeight;
        color: $main-text-color;
        text-transform: uppercase;
        font-size: 1.2em;
        background: $main-dark-color;
        border-bottom: 1px solid white;
        > *, .form-inline > *{
            height: 100%;
        }
        a{
            color: inherit;
        }
        #filter-collapse-control{
            width: $searchFilterPanelHeadingHeight;
            border-right: 1px solid white;
            float: left;
            text-align: center;
            margin-right: 1em;
            .glyphicon{
                @include rotate(90);
            }
            &.collapseEnabled{
                .glyphicon{
                    @include rotate(-90);
                }
            }
        }
    }
    .panel-body{
        color: white;
        .form-group{
            > label{
                line-height: 1.3em;
                text-transform: uppercase;
                border-bottom: 1px solid white;
                margin-bottom: 1em;
                font-weight: bold;
                font-size: 1em;
            }
            .slider{
                margin-bottom: 1em;
                &.ui-slider-horizontal{
                    height: .4em !important;
                    border: 0px;
                    .ui-widget-header{
                        background: $alt-highlight-color !important;
                    }
                    .ui-slider-handle{
                        top: -10px;
                        border: 0px;
                        /*background-image: url('/img/slider_handle.png');*/
                        @include borderRadius(100%);
                        background-color: $alt-highlight-color !important;
                        height: 26px;
                        width: 26px;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            input[type=text]{
                color: $main-text-color;
                border: 1px solid $main-text-color;
                @include borderRadius(0px);
                background: $body-bg;
            }
            .checkbox{
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: 0.9em;
            }
            .filter-list-see-more{
                color: inherit;
            }
        }
        .filterResetTrigger{
            position: absolute;
            bottom: 5px;
            right: 5px;
            text-align: right;
            a{
                color: inherit;
            }
        }
    }
    #distance-slider, #price-slider{
        .ui-slider-handle:first-of-type{
            display: none  !important;
        }
    }
    .checkbox{
        > label{
            width: 100%;
        }
    }
    &:not(#filterModal) .item-overflow{
        display: none;
    }
}

#filterModal, #checkoutModal, .ajax-modal{
    .modal-content{
        background: $main-dark-color;
        border: 1px solid white;
    }
    .modal-header{
        .close{
            color: $main-text-color;
            @include opacity(1);
        }
    }
    .filter-list-see-more{
        display: none;
    }
}

/*.checkbox > label{
    line-height: 1.85;
}*/

#homeAdvertCarousel{
    height: 450px;
    .carousel-indicators{
        bottom: 0px;
    }
    .carousel-inner{
        height: 100%;
        .item {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 50%;
            > img{
                width: 100%;
                height: 100%;
            }
            .carousel-caption{
                background: rgba(0,0,0, 0.8); 
                color: white; 
                height: 80px;
                position: absolute; 
                right: 0px; 
                bottom: 60px;
                padding: 0px;
                text-align: left;
                display: flex;
                .carousel-caption-picture{
                    display: inline-block;
                    height: 100%;
                    margin-right: 1em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    vertical-align: top;
                    .square-pattern{
                        height: 100%;
                        @include opacity(0);
                    }
                }
                h3, p{
                    margin: 0px;
                    display: inline-block;
                    line-height: 80px;
                    overflow: hidden;
                }
                h3{
                    font-size: 3.5em; 
                    font-weight: bold;
                    flex-shrink: 10;
                    padding-left: 0.5em;
                }
                p{
                    font-size: 1.5em; 
                    padding-right: 1em;
                    padding-left: 0.5em;
                    flex-grow: 4;
                    align-self: flex-end;
                    line-height: 3.2em;
                }
            }
        }
    }
    .carousel-control{
        > .glyphicon{
            @include opacity(0.2);
        }
    }
}

$mapThumbnailHeight: 242px;
$mapThumbnailWidth: 145px;
#map{
    width: 100%; 
    height: 400px;
    .gm-style-iw-container{
        top: 20px !important;
        left: 25px !important;
        > *:nth-child(1){
            height: $mapThumbnailHeight !important;
            width: $mapThumbnailWidth !important;
        }
        .gm-style-iw-bg{
            > *:nth-child(1), > *:nth-child(3){
                left: 64px !important;
                top: $mapThumbnailHeight !important;
            }
            > *:nth-child(2){
                display: none;
            }
            > *:nth-child(3){
                div > *{
                    box-shadow: rgba(72, 181, 233, 0.6) 0px 1px 6px;
                    z-index: 1;
                }
            }
            > *:nth-child(4){
                display: none;
            }
        }
        .gm-style-iw {
            width: 145px !important;
            top: 0px !important;
            left: 0px !important;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
            border: 0px;
            @include borderRadius(0px);
            .infoWindowEts{
                width: 100%;
                height: auto;
                background: grey;
                float: left;
                .ets-thumbnail{
                    width: 100%;
                    margin: 0px;
                }
            }
        }
        .gm-style-iw-close-btn{
            right: 5px !important;
            top: 5px !important;
        }
    }
}

#formControlBottomBand{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
/*    height: 60px;
    padding: 10px;*/
    z-index: 1080;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    /*display: flex;*/
    margin: 0px;
    border: 0px;
    .panel-heading{
        display: flex;
        height: 60px;
        width: 100%;
        padding: 10px;
        #formAjaxFeedback{
            flex: 1;
            padding-right: 10px;
            a{
                text-decoration: none;
            }
            #form-ajax-alert, #form-ajax-confirm, #form-ajax-loading{
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                display: none;
                .glyphicon{
                    margin-right: 5px;
                }
            }
        }
        #formActions{
            .btn{
                padding: 10px;
                height: 100%;
            }
            .icon-btn{
                font-size: 1.5em;
                padding: 0px 15px;
            }
        }
    }
}

.form-accordion{
    .panel{
        @include borderRadius(0px);
        &:nth-of-type(even){
            .panel-heading{
                border-bottom: 1px solid #333;
            }
            .panel-heading, .panel-collapse{
                background: $body-bg;
            }
        }
        &:nth-of-type(odd){
            .panel-heading{
                border-bottom: 1px solid #555;
            }
            .panel-heading, .panel-collapse{
                background: $main-color;
            }
        }
        
        .panel-heading{
            height: 50px;
            padding: 0px;
            @include borderRadius(0px);
            &, h4{
                font-size: 1.2em;
                line-height: 50px;
                font-weight: bold;
                color: white;
            }
            a{
                color: inherit;
                &, &:hover{
                    text-decoration: none;
                }
            }
        }
        .panel-body.panel-body{
            border-top: 0px;
        }
    }
    &.panel-group .panel + .panel{
        margin-top: -2px;
    }
}

form:not(.navbar-form){
    
    input[type=text], input[type=password], input[type=date], input[type=email], textarea{
        color: $main-text-color;
        border: 1px solid $main-text-color;
        @include borderRadius(0px);
        background: $body-bg;
    }
}

.ms-container.ms-container{
    width: 100%;
    .ms-selectable, .ms-selection{
        background: $body-bg;
        color: $main-text-color;
        border: 1px solid $main-text-color;
        .ms-list{
            .ms-elem-selectable, .ms-elem-selection{
                border: 0px;
                color: inherit;
                &.ms-hover{
                    background-color: #666;
                }
            }
        }
    }
}

#checkoutModal{
    .modal-content{
        overflow: hidden;
        border: 1px solid #333;
    }
    .modal-header{
        background: #454545;
        background: -moz-linear-gradient(top, #454545 0%, #666666 100%);
        background: -webkit-linear-gradient(top, #454545 0%,#666666 100%);
        background: linear-gradient(to bottom, #454545 0%,#666666 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#666666',GradientType=0 );
        border-bottom: 0px;
        text-align: center;
    }
    .modal-body{
        padding: 20px;
        .row{
            margin: 0px;
        }
        #pay-button{
            width: 100%;
            font-size: 1.5em;
            padding: 15px;
            background: #666666;
            background: -moz-linear-gradient(top, #666666 0%, #454545 100%);
            background: -webkit-linear-gradient(top, #666666 0%,#454545 100%);
            background: linear-gradient(to bottom, #666666 0%,#454545 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#454545',GradientType=0 );
            @include borderRadius(4px);
            border: 0px;
        }
    }
    .loading-bar{
        margin: 20px auto;
    }
    .modal-footer{
        display: none;
    }
}
.phone-form-group{
    label{
        display: block;
    }
    .form-inline{
        display: inline-flex;
        width: 100%;
        .select2{
            flex: none;
            width: 125px;
        }
        input{
            margin-left: 5px;
            flex-grow: 2;
        }
    }
}
.time-form-group{
    display: inline-flex;
    span{
        text-transform: lowercase;
        padding: 0px 6px 0px 3px;
        line-height: 35px;
    }
}
.business-type-tiles{
    .business-type-tile{
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 20%;
        color: white;
        padding: 15px;
        cursor: pointer;
        position: relative;
        img.square-pattern{
            width: 100%;
            @include opacity(0);
        }
        &.selected{
            background-color: $text-color-alt;
            cursor: default;
        }
        &.disabled{
            @include opacity(0.2);
            cursor: default;
        }
        input[type=radio]{
            display: none;
        }
        .business-label{
            position: absolute;
            bottom: 10px;
            left: 0px;
            text-align: center;
            width: 100%;
        }
        > a{
            color: inherit;
            &:hover{
                color: inherit;
            }
            .thumbnail-top{
                position: relative;
                .thumbnail-distance{
                    background: rgba(0, 0, 0, 0.4); 
                    color: white;
                    font-weight: bold;
                    position: absolute; 
                    bottom: 0px; 
                    right: 0px;
                    padding: 0px 0.5em;
                }
            }
            .thumbnail-text{
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                .thumbnail-label{
                    text-transform: uppercase;
                    height: 2*$line-height-base-px;
                    overflow: hidden;
                    font-weight: bold;
                }
                .thumbnail-info{
                    font-size: 0.9em;
                    height: 2*$line-height-base-px;
                    overflow: hidden;
                }
            }
        }
    }
}

$subscriptionTileHeight: 400px;
$subscriptionTileHeaderHeight: 100px;
.subscription-tiles{
    .subscription-tile{
        margin-bottom: 2em;
        height: $subscriptionTileHeight;
        &.selected{
            .subscription-body{
                border-width: 4px;
                border-top: 0px;
            }
        }
        &.not-selected{
            @include opacity(0.6);
        }
        .subscription-header{
            text-align: center;
            font-size: 3em;
            height: $subscriptionTileHeaderHeight;
        }
        .subscription-body{
            border-top: 0px;
            border-width: 0px;
            border-style: solid;
            background: #eee;
            height: $subscriptionTileHeight - $subscriptionTileHeaderHeight;
            display: flex;
            align-content: space-between;
            flex-direction: column;
            input[type=radio]{
                display: none;
            }
            > *{
                flex: 1;
            }
            .tile-footer{
                align-self: flex-end;
                flex: none;
                width: 100%;
                text-align: center;
                .btn-select-subscription{
                    margin: 15px auto;
                    padding: 8px 18px;
                    &:hover, &:focus{
                        color: $main-text-color;
                    }
                }
            }
        }
    }
}

textarea{
    background-color: transparent;
    border: 1px solid $main-text-color;
    color: $main-text-color;
    width: 100%;
}

.highlight-container{
    background-color: lighten($main-dark-color, 35);
    padding-top: 15px;
    padding-bottom: 15px;
}

.gallery-item{
    margin-top: 1em;
    .gallery-inner{
        background-color: darken($main-dark-color, 10);
        padding: 0px 0.3em 20px 0.3em;
        .gallery-header{
            text-transform: uppercase;
            padding: 0.5em 20px;
            border-bottom: 2px solid lighten($main-dark-color, 35);
            .gallery-title{
                font-weight: bold;
                font-size: 1.3em;
                display: inline-block;
                width: auto;
            }
            .gallery-remove{
                float: right;
                font-size: 1.5em;
                line-height: 200%;
                cursor: pointer;
            }
        }
    }
}

$timelinePointWidth: 15px;
.timeline-links{
    width: 100%;
    .timeline-line{
        width: 100%;
        min-height: 1px;
        border-top: 1px solid white;
        float: left;
        position: relative;
        height: 40px;
        .timeline-checkpoint{
            text-align: center;
            width: 60px;
            top: 0px;
            float: left;
            position: absolute;
            cursor: pointer;
            margin-top: ($timelinePointWidth/-2);
            @include no-select;
            &:last-child:not(:first-child){
                margin-left: - 60px;
            }
            .timeline-disc{
                @include borderRadius(100%);
                background-color: white;
                display: block;
                height: $timelinePointWidth;
                width: $timelinePointWidth;
                line-height: $timelinePointWidth;
                position: absolute;
                top: 0px;
                margin-left: ($timelinePointWidth/-2);
                left: 50%;
            }
            .timeline-disc-label{
                font-size: 1.5em;
                color: white;
                margin-top: 0.8em;
                display: inline-block;
            }
            &.selected{
                .timeline-disc{
                    background-color: $booking-color;
                }
                .timeline-disc-label{
                    color: $booking-color;
                }
            }
        }
    }
    .timeline-content{
        width: 100%;
        margin-top: 2em;
        float: left;
        .timeline-slide{
            width: 100%;
            display: none;
            &.selected{
                display: block;
            }
        }
    }
}

.text-promo{
    color: $promo-color;
}

$popoverRadius: 5px;
.popover{
    background-color: transparent;
    border: 1px solid white;
    @include borderRadius($popoverRadius);
    padding: 0px;
    .popover-title{
        background-color: $main-dark-color;
        border-bottom: 0px;
        @include borderTopRadius($popoverRadius);
    }
    .popover-content{
        background-color: $main-color;
        @include borderBottomRadius($popoverRadius);
    }
}

#feedback-success, #feedback-info, #feedback-warning, #feedback-danger, #feedback-error{
    margin: 0px;
    @include borderRadius(0px);
    font-weight: normal;
}